    body {
        margin: 0;
        background-color: black;
        font-family: Helvetica, sans-serif;
    }
    #disclaimer {
        color: white;
        font-size: xx-large;
        border: solid 1px white;
        margin: auto;
        position: absolute;
        width: 50%;
        top: 30%;
        padding: 10px;
    }
    .word {
 				text-align: center;
        font-size: 3px;
				line-height: normal;
        color: rgba(127,200,200,0.1);
        padding: 1px;
		}
    .panel {
        background-color: rgba(255,255,255,0.2);
        color: rgb(127,200,200,0.5);
		    position: absolute;
		    z-index: 100;
		    padding: 10px;
        padding-left: 40px;
        padding-right: 40px;          
        border-radius: 5px;
        bottom: 5%;
    }

    #about {
        color: rgb(255,255,255,1);
         background-color: rgb(127,200,200,0.7);
        padding-left: 2%;
        padding-right: 2%;
        top: 5%;
        width: 50%;
        left: 23%;
        display: none;
    }
    #techdetails {
        font-size: 0.8em;
    }
    #intro {
        position: absolute;
        left: 50%;
        top: 50%;
        display: none;
    }

    #intro div {
        color: rgba(255,255,255, 0.6);
		    position: relative;
        left: -50%;
        top: -50%;
    }

    #closebutton {
        position: absolute;
        cursor: pointer;
        right: 5%;
    }
    
    #info {
        right: 5%;
        display: none;
    }

    #backbutton {
        left: 5%;
        display: none;
    }

    #controls {
        left: 45%;
        visibility: hidden;
		}
    .in-use {
        color: white;
    }
    .clickable {
        cursor: pointer;
    }
